@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #141231;
  font-family: "Barlow", sans-serif;
  color: white;
}

body .nav {
  background-color: #0c0b1d;
  height: 3.5em;
  width: 100%;
  color: white;
}

body .nav .logo {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  line-height: 1.6em;
  padding: 0 2em;
}

body .nav ul {
  float: right;
  margin-right: 3.5em;
}

body .nav ul li {
  display: inline-block;
  line-height: 3.5em;
}

body .nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .nav ul li a:hover {
  color: #5e56ec;
}

body .hero {
  padding: 4em 5em;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(20, 14, 126, 0.603)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(20, 14, 126, 0.603) 15%, rgba(255, 255, 255, 0) 100%);
}

body .hero h2 {
  font-size: 4rem;
}

body .hero .navpath {
  position: absolute;
  margin-top: 1em;
  font-weight: 100;
}

body .hero .navpath ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .hero .navpath ul li {
  list-style: none;
}

body .hero .navpath ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  margin-right: 1em;
}

body .hero .navpath ul li i {
  margin-right: 1em;
  font-weight: 700;
  opacity: 0.5;
}

body .result {
  text-align: center;
  margin-top: 0.6em;
  font-size: 2.5rem;
  display: none;
}

body .result span {
  font-size: 5rem;
  color: #5e56ec;
}

body .quiz {
  margin: 2em 5em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

body .quiz .quiz-form .wrapper {
  margin: 2em 0;
  border: 2px solid;
  -o-border-image: linear-gradient(45deg, #0d0db3, purple) 1;
     border-image: linear-gradient(45deg, #0d0db3, purple) 1;
  padding: 2em;
}

body .quiz .quiz-form .wrapper span {
  font-size: 2em;
  font-weight: bolder;
  margin-right: 0.3em;
  background: linear-gradient(45deg, #0d0db3, #ee0eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .quiz .quiz-form .wrapper .option {
  margin-top: 0.5em;
  margin-left: 3em;
  font-weight: 100;
}

body .quiz .btn {
  text-align: center;
  padding: 0.7em;
  border-radius: 30px;
  border: solid 2px #5e56ec;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: white;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .quiz .disabled-btn {
  text-align: center;
  padding: 0.7em;
  border-radius: 30px;
  border: solid 2px rgba(192, 192, 192, 0.5);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: rgba(192, 192, 192, 0.5);
  background: transparent;
  cursor: not-allowed;
}

body .quiz .btn:hover {
  background-color: #5e56ec;
}

body .quiz .disabled-btn:hover {
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */